<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="{{android.package}}">
    <uses-sdk android:minSdkVersion="{{android.minimum_sdk_version}}" android:targetSdkVersion="{{android.target_sdk_version}}" />
    <application>

        <!-- For ironSource -->
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <!-- admob -->
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" 
                            android:value="ca-app-pub-3987769295175484~3212231328"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
                                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
                                android:theme="@android:style/Theme.Translucent" />

        <!-- applovin -->
<!--
        <activity
                android:name="com.applovin.adview.AppLovinInterstitialActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:screenOrientation="behind" />
        <activity
                android:name="com.applovin.sdk.AppLovinWebViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />
-->

        <!-- facebook -->
<!--
        <activity
                android:name="com.facebook.ads.AudienceNetworkActivity"
                android:hardwareAccelerated="true"
                android:configChanges="keyboardHidden|orientation|screenSize" />
-->

        <!-- unityads -->
<!--
        <activity
                android:name="com.unity3d.services.ads.adunit.AdUnitActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
                android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
                android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
                android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
-->

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
</manifest>